* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn1 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(16, 16, 16);
    font-family: sans-serif;
}

.btn1 a {
    text-decoration: none;
    color: antiquewhite;
    border: 2px solid antiquewhite;
    padding: 2rem 5rem;
    position: relative;
    overflow: hidden;
    transition: all 1s;
}

.btn1 a::before {
    content: "DOWNLOAD";
    color: #000;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: antiquewhite;
    transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 a:hover:before {
    transform: translateY(0%);
}

/*Second Button*/

.btn2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.btn2 > a {
    padding: 2rem 3rem;
    text-transform: uppercase;
    background: blueviolet;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;
}

.btn2 > a::before {
    content: 'button';
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

.btn2 > a::after {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(14, 231, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}

.btn2 > a:hover:before, a:hover:after {
    transform: rotateX(0deg);
}